.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: brown;
}

.header {
  position: absolute;
  background-color: #117AD3;
  height: 5em;
  width: inherit;
}

.header h3 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  left: 3em;
  top: -1em;
  color: white;
  font-size: 100%;
}

.header .roundMenu {
  position: relative;
  left: 0.8em;
  width: 1.2em ;
  height: 1.2em;
  background: url("img/menu2.svg");
  display: inline-block;
  top: 1em;
  cursor: pointer;
}

.body {
  position: relative;
  height: 100em;
  width: inherit;
  top: -0.6em; 
  background-color: grey;

}

.body .menu {
  position: fixed;
  background-color:  #F4F4F4;
  height: 50em;
  width: 10em;
  transition: 0.3s; 
  top: 4.3em;
}

/*.body .menu a {
  position: relative;
  padding: 1em 1em 1em 4em;
  color: white;
  display: block;

  width: 10em;
  left: 3em;
  top: -2em;
}*/

.menuButton {
  position: relative;
  background-color: inherit;
  color: white;
  border: none;
  top: 01em;
  right: -0.5em; 
}

.body .menu .menuOptions .sideMenu {
  height: 2em;
  top: -0.5em;
  position: relative;
  margin-top: 1em;
}

.body .menu .menuOptions .sideMenu:hover {
  background-color: white;
}

#sideNav {
  position: relative;
  left: 1em;
  width: 1.2em ;
  height: 1.2em;
  background: url("img/menu.svg");
  top: 2.5em;
}

#subMenu {
  position: relative;
  height: inherit;
  left: 2.7em;
  bottom: 5em;
  background-color: inherit;
}

.tasks {
  background-color: #FFFFFF;
  position: relative;
  height: 50em;
  left: 3em;
  width: 100em;
  border-left-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  transition: 0.3s;
  display: block;
  overflow-x: hidden;
  top: -2.1em;
}

.tasks .subTaskHeader .categoryDeletion {
  position: relative;
  top: -3.5em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: 2em;
  width: 5em;
  font-size: 35%;
  right: -15em;
  background-color: #f2f2f2;
  align-content: center;
  display: none;
}

.tasks .subTaskHeader .categoryDeletion p {
  position: relative;
  top: 0.5em;
  right: -1em;
  font-weight: normal;
}

.tasks .subTaskHeader .contextIcon {
  background: url(img/options.png);
  position: relative;
  top: 0em;
  right: -1em;
  height: 0.55em;
  display: inline-block;
  width: 0.55em;
  cursor: pointer;;
}

.sideMenuIcons {
  position: relative;
  height: 1.6em;
  width: 1.6em;
  display: inline-block;
  top: 0.3em;
  left: 0.5em;
  cursor: pointer;
}

.sideMenuIcons: hover {
  background-color: #d9d9d9;
}

#sun {
  background: url("img/sun1.svg");
}
#star {
  background: url("img/star.png");
}

#calender {
  background: url("img/calender.svg");
}

#home {
  background: url("img/home.png");
}

#list {
  background: url("img/list.png");
}

#addList {
  background: url("img/addList.png");
}

#options {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 4em;
  height: 15em; 
}

#options a {
  color: black;
  right: 10em;
  position: absolute;
  top: 0.5em;
  width: 4em;
  font-weight: 100;
  text-decoration: none;
}

#newList {
  position: relative;
  left: 2em;
  height: 1.5em;
  top: 0em;
  width: 10em;
  font-size: 118%;
  border: none;
  visibility: hidden;
}

.body .menu  #addCategory {
  position: relative;
  top: 1.5em;
  left: 0em;
}

.category {
  position: relative;
  top: 1em;
  height: fit-content;
  width: 18em;
  /*overflow-y: auto;
  overflow-x: hidden;*/
}

.categoryName {
  position: relative;
  width: 15em;
  height: 1em;
  display: inline;
}

.categoryName p {
  display: block;
  cursor: pointer;
  position:relative;
  right: -4em;
  top: -2em;
}

.categoryName: hover {
  background-color: white;
}

.taskDetails {
  /*position: sticky;
  position: -webkit-sticky;*/
  position: relative;
  left: 6em;
  bottom: -5em;
  width: 49em;
  font-family: 'Roboto', sans-serif;
  border: none;
  height: 3em;
  border-bottom-style: solid;
  border-color: grey;
  border-width: 1px;
  visibility: hidden; 
}

.tasks #stats {
  position: absolute;
  top: 4em;
  font-size: 75%;
  left: 5em;
  font-family: 'Roboto', sans-serif;
}

.taskAdder {
  position: relative;
  height: 1.5em;
  left: 5.3em;
  display: inline-block;
  width: 1.5em;
  top: -1.5em;
}

.taskDetails input {
  font-size: 100%;
  outline: none;
  position: relative;
  top: -1.6em;
}

.subTaskAddition {
  position: relative;
  left: 14em;
  top: 2em;
  width: 5em;
  height: 3em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.tasks h1 {
  position: absolute;
  top: 0em;
  left: 2em;
  font-size: 180%;
}

.tasks .subTaskDetails {
  position: relative;
  padding: 1em 1em 1em 4em;
  font-family: 'Roboto', sans-serif;
  left: -2em;
  overflow-y: auto;
  overflow-x: hidden;
  width: 52em;
  top: 5em;
}

.tasks .subTaskDetails p {
  cursor: pointer;
}

.subTask {
  position: relative;
  width: 70em;
  height: 4em;
  right: -4em;
  top: -1em;
  border-bottom-style: solid;
  border-width: 1px;
  font-family: 'Roboto', sans-serif;
  align-content: center;
  border-color: grey;
}

.subTask p {
  position: relative;
  top: -1.5em;
  left: 4em;
  font-size: 125%;
}

.selectIcon {
  height: 2.5em;
  width: 2.5em;
  display: inline-block;
  position: relative; 
  top: 1.2em;
  left: 0.5em;
}
#unCheckedIcon {
  background-image: url("img/uncheck.png");
}

#checkedIcon {
  background-image: url("img/check.png");
}

#addSub {
  background: url("img/addList.png");
  background-repeat: no-repeat;
  display: block;
  height: 0.5em;
  width: 1.8em;
  left: 3em;
  top: 4em;
  cursor: pointer;
}

.stepDetails {
  position: absolute;
  background-color: #F4F4F4;
  height: 50em;
  left: 103em;
  width: 50em;
  top: 0em;
  border-left-style: solid;
  border-width: 1px;
  overflow-y: auto;
  border-color: grey;
  transition: 0.3s;
}

.taskSteps {
  position: absolute;
  height: 17em;
  width: 21em;
  background-color: white;
  right: 18em;
  top: 1em;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.stepHeader {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 1.5em;
  white-space: normal;
  width: 17em;
  font-size: 120%;
  top: 1em;
}

.stepHeader #stepHeading {
  position: absolute;
  top: -1.8em;
  right: 13em;
  width: 4em;
  cursor: pointer;
  border: none;
}

.stepHeader #stepStats {
  position: relative;
  font-size: 50%;
  width: 13em;
  right: 0em;
  top: 0.8em;
}

.stepHeader .newTaskHeading {
  position: relative;
  top: -1.4em;
  right: 0em;
  font-size: 100%;
  border-bottom-style: solid;
  border-width: 1px;
  outline: none;
}

.stepDetails .scheduler {
  position: relative;
  width: 21em;
  top: 19em;
  height: 3em;
  right: -0.8em;
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.stepDetails .reminder {
  position: relative;
  width: 21em;
  top: 19.5em;
  height: 10em;
  right: -0.8em;
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px; 
}
.stepDetails .taskNotes {
  position: relative;
  width: 21em;
  top: 20em;
  height: 7em;
  right: -0.8em;
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px; 
}

.stepInput {
  position: relative;
  width: 15em;
  bottom: -3em;
  height: 2em;
  right: -1.5em;
  border-bottom-style: solid;
  border-color: grey;
  border-width: 1px;

}

.inputStep {
  border: none;
  outline: none;
  position: relative;
  top: 1em;
  width: 4em;
  right: -1em;
}

.subStep {
  position: relative;
  width: 17em;
  height: 3em;
  right: -0.8em;
  top: -1em;
  border-bottom-style: solid;
  border-width: 1px;
  font-family: 'Roboto', sans-serif;
  align-content: center;
  border-color: grey;
}

.subStep p {
  position: relative;
  top: -0.5em;
  width: 10em;
  cursor: pointer;
}

#taskCheckBox {
  position: absolute;
  top: -0.8em;
  right: 24.8em;
}

.steps {
  position: absolute;
  top: 7em;
  height: 9.5em;
  overflow-y: auto;
  width: 20em;
  right: 0.1em;
}

.steps .stepDeletion {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  bottom: -1.6em;
  right: -16em;
  background: url(img/close.png);
  cursor: pointer;
}
.stepInput {
  position: relative;
  width: 15em;
  bottom: -3em;
  height: 2em;
  right: -1.5em;
  border-bottom-style: solid;
  border-color: grey;
  border-width: 1px;
}

.stepDetails .taskNotes textarea {
  position: relative;
  width: 25em;
  left: 0em;
  height: 8em;
  border: none;
  top: 0.1em;
}

.stepDetails .slider {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  bottom: -23em;
  right: -1em;
  background: url(img/slider.png);
  cursor: pointer;
}


